body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.title {
    font-family: 'Special Elite', sans-serif;
    font-size: 3rem;
}

.container {    
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* navigation */

.nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    padding-bottom: 1em;
    margin: 1em;
    text-decoration: none;
    font-weight: 700;
    color: #999999;
}

nav, .title {
    text-align: center;
}