body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h3, h2 { 
    margin: 0;
}

.title {
    font-family: 'Special Elite', sans-serif;
    font-size: 3rem;
    margin-right: 0.25em;
}

.tagline {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: #999;
}

/* layout */


.container, footer, .nav-links {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-content {
    display: flex;
    flex-direction: column;
}

/* footer */

footer {
    background-color: #ccc;
    padding: 1em;
}

/* navigation */

.nav-links {
    list-style: none;
    padding: 0.5em;
}

.nav-link {
    padding-bottom: 1em;
    margin: 1em;
    text-decoration: none;
    font-weight: 700;
    color: #999999;
}

nav, .title {
    text-align: center;
}


@media (min-width: 650px) {
    .container, .nav-links {
        flex-direction: row;
        align-items: center;

    }
}