body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h3, h2 { 
    margin: 0;
}

.title {
    font-family: 'Special Elite', sans-serif;
    font-size: 3rem;
    margin-right: 0.25em;
}

.tagline {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: #999;
}

.container {    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, footer {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

/* footer */

footer {
    background-color: #ccc;
    padding: 1em;
}
/* navigation */

.nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    padding-bottom: 1em;
    margin: 1em;
    text-decoration: none;
    font-weight: 700;
    color: #999999;
}

nav, .title {
    text-align: center;
}

/* carousel */

.carousel {
    max-width: 600px;
    position: relative;
}

.carousel-item {
    display: none;
    max-width: 600px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel button {
    border-radius: 50px;
    border: unset;
    background-color: rgba(255, 255 , 255, 0.7);
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-weight: 700;
}

#button-previous{
    margin-left: 20px;
}

#button-next {
    margin-right: 20px;
}

.carousel-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* vertical aligning. works with the top 50% */
}